.container
    .jumbotron
        h1 SoleStox
        p Welcome To Solestox Text

    .row
        col-md-6
            div(ng-include="'/partials/featured-soles'")
        col-md-6
            div(ng-include="'/partials/new-soles'")

