.panel.panel-primary
    .panel-heading.text-center New Soles
    .panel-body
        .row(ng-repeat="sneaker in sneakers | orderBy: 'releaseDate':true")
            .col-md-9 {{sneaker.title}}
            .col-md-3 {{sneaker.releaseDate | date: 'MMM d'}}